<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <title>Legendaries</title>
</head>
<body>
    <header>
        <img src="assets/images/logo.svg" alt="">
        <button type="button" class="hamburger-menu">
            <img src="assets/images/hamburguer.svg" alt="hamburguer">
        </button>
        <nav class="navbar">
            <a class="home" href="index.html">
                Home
            </a>
            <a href="#">
                Pokedex
            </a>
            <a href="legendaries.html">
                Legendaries
            </a>
            <a href="#">
                Documentation
            </a>
        </nav>
    </header>
    <main class="legendaries">
        <div class="titulo-legendaries">
            <h1>Legendaries</h1>
        </div>
        <div class="content">
            <div>
                <img class="mew" src="assets/images/pkmns/mew.svg" alt="mew">
            </div>
            <div>
                <h1>Mewtwo</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa dolore dolor cupiditate ducimus sequi libero at quo fuga minima beatae omnis, tempore corporis. Tenetur mollitia minima suscipit optio consectetur!
                </p>
            </div>
        </div>

    </main>
    <footer>

    </footer>

</body>
</html>